Flask==0.12.2
Flask-SQLAlchemy==2.3.2
Jinja2==2.10
MarkupSafe==1.0
Pillow==8.2.0
SQLAlchemy==1.1.15
Werkzeug==0.13
breadability==0.1.20
certifi==2017.11.5
chardet==2.2.1
click==6.7
colorama==0.2.5
decorator==3.4.0
docopt==0.6.2
gunicorn==19.7.1
html5lib==0.999
idna==2.6
itsdangerous==0.24
lxml==4.1.1
nltk==3.2.5
nose==1.3.1
numpy==1.8.2
psycopg2==2.7.3.2
pycurl==7.19.3
pyparsing==2.0.1
pytz==2012c
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
tornado==3.1.1
urllib3==1.22
wheel==0.24.0
youtube-dl==2017.11.15
